.app-center-container {
    width: 900px;
    margin: 0 auto;
}

h1.page-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
}

.app-box-loading {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
}